html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.App {
}

.App__map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App__legend {
  background: white;
  border: solid 1px #eaeaea;
  border-radius: 2px;
  width: 260px;
  max-height: 400px;
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  display: flex;
  flex-direction: column;
}

.App__legend__header {
  display: flex;
  align-items: center;
  padding: 0.8em;
}

.App__legend__header label {
  font-size: smaller;
  display: flex;
  align-items: center;
}

.App__legend__header input {
  margin-right: 0.3em;
}

.App__legend__header__h1 {
  text-align: left;
  margin: 0;
  font-size: 1.2em;
  font-weight: 300;
  flex: 1;
}

.LayerList {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.8em;
  font-family: sans-serif;
}

.LayerList__item {
  margin-bottom: 0.6em;
  font-size: 0.8em;
  display: flex;
  align-self: center;
}

.LayerList__item:last-child {
  margin-bottom: 0;
}

.LayerList__item__map-symbol {
  width: 1.4em;
  height: 1.4em;
  position: relative;
  margin: 0 0.4em;
  flex-shrink: 0;
}

.LayerList__item__label {
  text-decoration: line-through;
  color: #999;
}

.LayerList__item__label--is-visible {
  text-decoration: initial;
  color: initial;
}

.LayerList--only-rendered .LayerList__item {
  display: none;
}

.LayerList--only-rendered .LayerList__item--visible {
  display: flex;
}

